
body{
    background-color: #ffffff;
}

#headsection{
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 0px;
    margin: 0px;
    display: inline-block;
}

#titolo{
    padding-left: 5px;
    height: 68px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
}

.corpopagina{
    background-color: rgb(224, 254, 255);
    padding: 5px;
    margin: 10px;
    border: 10px;
   
}

         /* sto modificando il contenitore dei 2 pulsanti */
.button{
     background-color: rgb(255, 255, 255);
     margin: 10px 200px;
     padding-left: 20px;
    
}
            /* qui sto modificando il primo e il secondo pulsante */
.changebutton{
    background-color: rgb(138, 138, 255);
    color: white;
    font-size: 12px;
    border-radius: 8px;
    padding: 4px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.changebutton2{
    color: gray;
    background-color: white;
    font-size: 12px;
    border-radius: 8px;
    padding: 4px;
}

    /* qui ho sistemato il contenitore con l'elenco delle cose */
.corpoelenco{
    background-color: rgb(255, 255, 255);
    margin: 10px 200px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}
   
/* qui trovo le parole accanto alla lista */
.editorial{
    border-radius: 8px;
    background-color: blue;
    color: white;
    padding: 3px;
    font-size: 10px;
}
.q1goals{
    border-radius: 8px;
    background-color: purple;
    color: white;
    padding: 3px;
    font-size: 10px;
}
.recluiting{
    background-color: rgb(54, 197, 54);
    color: white;
    border-radius: 8px;
    padding: 3px;
    font-size: 10px;
}
.website{
    background-color: pink;
    color: white;
    border-radius: 8px;
    padding: 3px;
    font-size: 10px;
}
.mobile{
    background-color: orange;
    color: white;
    border-radius: 8px;
    padding: 3px;
    font-size: 10px;
}
.sales{
    background-color: rgb(15, 224, 15);
    color: white;
    border-radius: 8px;
    padding: 3px;
    font-size: 10px;
}

p{
    display: inline-block;
}

    /* trovo contenitore di singolo elemento */
.newtask{
    font-family: 'Roboto', sans-serif;
}

.today{
    font-family: 'Roboto', sans-serif;
}

.upcoming{
    font-family: 'Roboto', sans-serif;
}